html {
    position: relative;
    box-sizing: border-box;
    display: block;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: var(--font-size);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(#000, 0);
    -webkit-font-smoothing: subpixel-antialiased;

    ::selection {
        color: var(--clr-black);
        background-color: var(--clr-accent);
    }
}

.body {
    position: relative;
    display: grid;
    place-items: center;
    background-color: var(--clr-bg);
}

.page {
    width: 100%;
}

