// Core styles for our app.
:root {
    // Base font-size.
    --font-size: 20px;
    // Colors.
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-accent: #F7CA18;
    --clr-accent-hover: #FFE580;
    --clr-alternative: #413906;
    --clr-alternative-hover: #9D9664;
    --clr-scorpion: #595959;
    --clr-gunmetal-dark: #1F2227;
    --clr-quick-silver: #A3A3A3;
    --clr-cultured: #F5F6F8;
    --clr-quartz: #494A51;
    --clr-arsenic: #41424E;
    --clr-lavender-gray: #C6C8CD;
    --clr-outer-space: #434450;
    --clr-pale-sky: #70757C;
    --clr-alto: #DCDCDC;
    --clr-focus: #51A7E8;
    // Light theme specific colors.
    --clr-bg-primary: var(--clr-white);
    --clr-bg-secondary: var(--clr-cultured);
    --clr-text-primary: var(--clr-black);
    --clr-text-secondary: var(--clr-scorpion);
    // Dark theme specific.
    &.dark-theme {
        --clr-bg-primary: var(--clr-gunmetal-dark);
        --clr-bg-secondary: var(--clr-arsenic);
        --clr-text-primary: var(--clr-lavender-gray);
        --clr-text-secondary: var(--clr-quick-silver);
    }
    // Core styles for the root element.
    position: relative;
    box-sizing: border-box;
    display: block;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: var(--font-size);
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(#000, 0);
    -webkit-font-smoothing: subpixel-antialiased;

    ::selection {
        color: var(--clr-black);
        background-color: var(--clr-accent);
    }
}

.body {
    position: relative;
    left: 50%;
    display: grid;
    place-items: center;
    background-color: var(--clr-bg-primary);
    transform: translateX(-50%);
}

.page {
    width: 100%;
}

