h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.55rem;
    color: var(--clr-text-primary);
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--clr-text-primary);
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--clr-text-primary);
}

h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--clr-text-primary);
}

h5 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--clr-text-primary);
}

h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;
    color: var(--clr-text-primary);
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9rem;
    line-height: 1rem;
    color: var(--clr-text-secondary);
}
