// CSS custom properties for colors variables.
:root {
    font-size: 20px;
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-gunmetal-dark: #1F2227;
    --clr-jonquil: #F7CA18;
    --clr-quick-silver: #A3A3A3;
    --clr-dark-bronze: #413906;
    --clr-cultured: #F5F6F8;
    --clr-quartz: #494A51;
    --clr-arsenic: #41424E;
    --clr-lavender-gray: #C6C8CD;
    --clr-outer-space: #434450;
    --gutter: 1rem;
}
// SCSS variables for breakpoints cuz CSS custom properties are not allowed in media directives.
$brk-mobile: 414px;
$brk-tablet: 768px;
$brk-desktop: 1024px;
