.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: .25rem;
    transition: all .3s ease-in-out;

    &--transparent {
        color: var(--clr-black);
        background-color: transparent;

        &:hover {
            background-color: var(--clr-accent);
            transition: all .3s ease-in-out;
        }
    }

    &--accent {
        color: var(--clr-black);
        background-color: var(--clr-accent);

        &:hover {
            background-color: var(--clr-accent-hover);
            transition: all .3s ease-in-out;
        }
    }

    &--dark {
        color: var(--clr-white);
        background-color: var(--clr-alternative);

        &:hover {
            color: var(--clr-black);
            background-color: var(--clr-alternative-hover);
            transition: all .3s ease-in-out;
        }
    }

    &--tone-dark {
        color: var(--clr-white);
        background-color: var(--clr-arsenic);

        &:hover {
            color: var(--clr-accent);
            transition: all .3s ease-in-out;
        }
    }

    &--rounded-arrow {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .15rem 0 0 .35rem;

        &::after {
            display: inline-block;
            padding: 5px;
            content: '';
            border: solid currentColor;
            border-width: 0 4px 4px 0;
            border-radius: 3px;
            transform: rotate(130deg);
        }

        &:hover {
            &::before {
                width: 1.25rem;
                transition: width .3s ease-in-out;
            }
        }
    }

    &--figma {
        &::before {
            margin-right: .75rem;
            content: url('../images/figma-logo.svg');
        }
    }
}
