@use '../utils';

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg-primary);
    border: 0;

    &__controls {
        display: flex;
        gap: 0 1rem;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 1140px;
    }

    &__close {
        position: relative;

        &-label {
            display: none;
            font-size: 1rem;
            font-weight: 700;

            @include utils.display-breakpoint-m-and-up {
                display: block;
            }
        }
    }

    &__theme-switch {
        margin-left: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        padding: 2rem;
        margin-top: 2.5rem;
        background-color: var(--clr-bg-secondary);

        @include utils.display-breakpoint-l-and-up {
            margin-top: 4rem;
        }

        @include utils.display-breakpoint-m-and-up {
            height: auto;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__step {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        max-width: 550px;
        margin-top: 1.75rem;

        &s {
            color: var(--clr-text-secondary);
        }
    }

    &__dynamic {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    &__heading {
        width: 100%;
        color: var(--clr-text-primary);
        text-align: center;
    }

    &__desc {
        width: 100%;
        margin-top: .5rem;
        color: var(--clr-text-secondary);
        text-align: center;
    }

    &__subscription {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        margin-top: .75rem;
        font-size: .9rem;
        font-weight: 700;
        line-height: 1.1rem;
        color: var(--clr-black);
        cursor: pointer;
        background-color: var(--clr-white);
        border-radius: 5px;
        transition: all .3s ease-in-out;

        &::after {
            width: 100%;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.1rem;
            color: var(--clr-scorpion);
            content: attr(data-desc);
        }

        &:focus-within {
            box-shadow: 0 0 3px 3px var(--clr-focus);
        }

        @include utils.display-breakpoint-m-and-up {
            width: calc(50% - 1rem);
            margin-top: 2rem;
        }
    }

    &__radio {
        position: absolute;
        inset: 0;
        border: 0;
        transition: all .3s ease-in-out;

        &::before {
            position: absolute;
            top: .9rem;
            right: 1rem;
            width: 1rem;
            height: 1rem;
            color: var(--clr-white);
            content: '';
            border: 1px solid var(--clr-alto);
            border-radius: 50%;
        }

        &:checked {
            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                text-align: center;
                content: '\2713';
                background-color: var(--clr-focus);
                border-color: var(--clr-focus);
                transition: all .3s ease-in-out;
            }
        }
    }

    &__figma-link {
        width: 100%;
        margin-top: 1.25rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 1.5rem;

        &-email {
            width: 100%;
            margin-top: .75rem;

            @include utils.display-breakpoint-m-and-up {
                width: calc(50% - 1rem);
                margin-top: 1.5rem;
            }
        }
    }

    &__submit {
        width: 100%;
        margin-top: .75rem;

        @include utils.display-breakpoint-m-and-up {
            width: calc(50% - 1rem);
            margin-top: 1.5rem;
        }
    }

    &__btn {
        width: 100%;
        margin-top: .75rem;

        @include utils.display-breakpoint-m-and-up {
            width: calc(50% - 1rem);
            margin-top: 1.5rem;
        }
    }

    &__copyright {
        width: 100%;
        margin-top: 1.75rem;
        font-size: .9rem;
        line-height: 1.1rem;
        color: var(--clr-text-secondary);
        text-align: center;
    }
}

.transition-fade {
    opacity: 1;
    transition: .4s;
}

html.is-animating .transition-fade {
    opacity: 0;
}
