@use '../utils';

.guide {
    display: grid;
    place-items: center;
    background-color: var(--clr-accent);

    &__container {
        display: grid;
        width: 100%;
        padding: 3rem var(--gutter) 0 var(--gutter);

        @include utils.display-breakpoint-l-and-up {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__heading {
        color: var(--clr-black);
    }

    &__desc {
        margin-top: .5rem;
        color: var(--clr-alternative);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: .75rem;

        &-label {
            display: none;
        }

        &-email {
            width: 100%;
        }

        @include utils.display-breakpoint-m-and-up {
            flex-direction: row;
            gap: .75rem;

            &-label,
            &-email {
                width: auto;
            }
        }
    }

    &__submit {
        width: 100%;
        margin-top: .5rem;

        @include utils.display-breakpoint-m-and-up {
            width: auto;
            margin: 0;
        }
    }

    &__ilustration {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-image: url('../images/people-ilustration.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include utils.display-breakpoint-l-and-up {
            background-position: right;
        }
    }

    ::selection {
        color: var(--clr-accent);
        background-color: var(--clr-black);
    }
}
