.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    &__navigation {
        width: 100%;
        padding: 2rem 0;
    }

    &__hero {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        gap: 0 1.75rem;
        align-items: flex-start;
        justify-content: flex-start;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @media screen and (min-width: 1024px) {
            width: 50%;
        }
    }

    &__desc {
        margin-top: 1rem;
    }

    &__btn {
        margin-top: 1.25rem;
    }

    &__image {
        width: 100%;
        height: 100%;
        background-image: url('../images/hero-image--light.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        aspect-ratio: 1/1;

        &.dark-theme {
            background-image: url('../images/hero-image--dark.svg');
        }

        @media screen and (min-width: 1024px) {
            width: 50%;
        }
    }
}
