@forward 'container';
@forward 'logo';
@forward 'header';
@forward 'theme-switch';
@forward 'link';
@forward 'navigation';
@forward 'collaboration';
@forward 'testimonials';
@forward 'star';
@forward 'decorator';
@forward 'guide';
@forward 'input';
@forward 'label';
@forward 'btn';
@forward 'hamburger';
@forward 'subscribtion';
@forward 'footer';
@forward 'dialog';
