.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__items {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media screen and (min-width: 1024px) {
            justify-content: flex-start;
        }
    }

    &__item {
        &--desktop-only {
            @media screen and( max-width: 1024px) {
                display: none;
            }
        }

        &--mobile-only {
            @media screen and(min-width: 1024px) {
                display: none;
            }
        }

        &--spacer {
            margin-left: auto;
        }
    }

    &__link {
        font-family: 'Space Grotesk', sans-serif;
        font-size: .9rem;
        line-height: 1.15rem;
        color: var(--clr-scorpion);
        text-decoration: none;
    }
}
