@use '../utils';

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s ease-in-out;

    &__items {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--vertical {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        @include utils.display-breakpoint-l-and-up {
            justify-content: flex-start;
        }
    }

    &__item {

        &--desktop-only {
            @include utils.display-breakpoint-m-and-down {
                display: none;
            }
        }

        &--mobile-only {
            @include utils.display-breakpoint-l-and-up {
                display: none;
            }
        }

        &--spacer {
            margin-left: auto;
        }
    }

    &__link {
        display: flex;
        font-family: 'Space Grotesk', sans-serif;
        font-size: .9rem;
        line-height: 1.15rem;
        color: var(--clr-scorpion);
        text-decoration: none;
    }

    &--mobile {
        max-height: 0;
        padding: 0;
        pointer-events: none;
        background-color: var(--clr-bg-primary);
        opacity: 0;

        @include utils.display-breakpoint-l-and-up {
            display: none;
        }
    }

    &--active {
        max-height: 500px;
        pointer-events: all;
        background-color: var(--clr-bg-primary);
        opacity: 1;
        transition: all .3s ease-in-out;
    }
}
