@use '../utils';

.subscription {
    display: grid;
    place-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
        padding: 4rem var(--gutter);

        @include utils.display-breakpoint-m-and-up {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__item {
        color: var(--clr-text-secondary);
        background-color: transparent;

        &--highlighted {
            padding: 1.75rem;
            color: var( --clr-lavender-gray);
            background-color: var(--clr-outer-space);
            border-radius: .5rem;

            .subscription__desc {
                color: var( --clr-lavender-gray);
            }

            .subscription__price {
                color: var( --clr-lavender-gray);
            }
        }

        @include utils.display-breakpoint-m-only {
            order: 0;
            width: calc(50% - 2rem);

            &--highlighted {
                flex-grow: 1;
                order: 1;
            }
        }

        @include utils.display-breakpoint-l-and-up {
            width: calc(100% / 3 - 2rem);
        }
    }

    &__price {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.55rem;

        &--period {
            font-family: 'Space Grotesk', sans-serif;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.1rem;
            color: var(--clr-quick-silver);
        }
    }

    &__heading {
        color: inherit;
    }

    &__desc {
        margin-top: .5rem;
    }

    &__features {
        margin-top: 1.25rem;
        list-style: disc inside url('../images/yellow-checkmark.svg');

        ::marker {
            margin-right: .75rem;
        }
    }

    &__feature {
        font-family: 'Space Grotesk', sans-serif;
        font-size: .9rem;
        line-height: 1.1rem;
        color: inherit;

        &:not(:first-of-type) {
            margin-top: .75rem;
        }
    }

    &__btn {
        width: 100%;
        margin-top: 1.25rem;
    }
}
